<app-navbar></app-navbar>

<div class="background">
    <div class="bootstrap-wrapper">
        <div class="container mt ">
            <div class="row">
                <div class="col-md-6 offset-md-3">
                    <mat-card>

                        <h1 class="text-center">Forgot Password</h1>
                        <form>

                            <mat-form-field appearance="outline">
                                <mat-label>Enter your email</mat-label>
                                <input matInput placeholder="pat@example.com">
                                <mat-error>Not a valid Email id</mat-error>
                            </mat-form-field>
                            <br>
                            <button mat-raised-button color="primary" target="_blank" >Reset Password</button>
                            <a routerLink="/login" mat-button color="primary">Already a user? Login</a>

                        </form>
                    </mat-card>

                </div>
            </div>
        </div>
    </div>
</div>