.mat-form-field {
    display: inline-block;
    position: relative;
    text-align: left;
    width: 100%;
    font-size: 11px;
    font-family: 'Poppins', sans-serif;
  }
/* .container-fluid{
    width: 50%;
} */